@charset "utf-8";

#wrap{}

/* header 영역 */

#header{}

.head_inner{width: 1164px; margin: 0 auto; /* border: 1px solid red; */}

.h_top{display: flex; justify-content: space-between; 
        align-items: center; height: 70px;}

.logo{}

.util{display: flex;}

.util > li{position: relative;}

.util > li > a{display: block; font-size: 12px; line-height: 28px;
                color: #555;}

.util > li:hover > a{color: red;}

.util_log,
.util_join,
.util_myca{padding: 0 10px;}

.util_myca{}

.util_myca > a{background: url(../images/ico_down01.gif)no-repeat right center;
            padding-right: 15px;}

.util_myca:hover >a{background: url(../images/ico_up01.gif)no-repeat right center;}

.util_log,
.util_join{background: url(../images/bar_main_util_top.png) no-repeat right center;
            }

.util_myca .my{position: absolute; top: 40px; left: 50%;
                transform: translateX(-50%);
                width: 150%; border: 1px solid black;
                padding: 10px; background-color: white; display: none; z-index: 50;}

.util_myca .my li{padding: 5px 0;}

.util_myca .my li a{font-size: 12px; font-weight: bold;}

.util_regist{margin: 0 10px;}
.util_regist a{ display: block; background-color: rgb(180, 0, 0);
            color: white !important;padding: 0 8px;}

.util_search{margin: 0 10px;}
.util_search input{display: block; width: 120px; height: 28px;
                    border: 1px solid rgb(156, 156, 156);
                    background: url(../images/util_seh.png) no-repeat 5px center;
                    border-radius: 20px;}

.util_site{}
.util_site a{display: block; background: #3d3d3d url(../images/icon_casite.png) no-repeat 90px -10px;
            padding: 0 25px 0 20px; color: white !important;}

.util_site:hover a{background:#555 url(../images/icon_casite.png) no-repeat 90px 10px;}


/* h_bottom 영역 */

.h_bottom{display: flex; justify-content: space-between;}

.gnb{display: flex;}
.gnb > li{position: relative;}
.gnb > li > a{display: block; font-size: 15px; font-weight: bold;
            padding: 15px 20px;}


.gnb > li > a .e_img{display: inline-block; width: 10px; height: 12px; 
                    background: url(../images/gnb_e_nor.png)no-repeat ; text-indent:-9999px ;
                    vertical-align: bottom; margin-right: 3px;}

.gnb > li:hover > a .e_img{background: url(../images/gnb_e_nor_hov.png)no-repeat ;}

.gnb > li:hover > a{color: rgb(197, 0, 0);}


.d_wrap{position: absolute; width: 1164px; background-color: rgb(212, 212, 212);
        display: flex !important; /* padding: 20px; *//*  display: none; */z-index: 45; overflow: hidden; height: 0;}

.d_banner{}
.d_banner li:last-child{margin-top: 15px;}

.d_depth{display: flex; flex-wrap: wrap; margin-left: 20px;}

.d_depth li{width: calc(100% / 5); text-align: center;}

.d_depth li a{display: block; height: 100px;position: relative; padding-top: 20px;}

.d_depth li:hover a{border-bottom: 1px solid rgb(170, 0, 0);}

.d_depth li a img{}

.d_depth li a p{font-size: 12px; font-weight: bold; position: absolute; bottom: 10px; width: 100%;
                }

.g_gallery{display: flex;}
.g_gallery li{}
.g_gallery li a{display: block; font-size: 15px; padding: 15px 20px; font-weight: bold;}
.g_gallery li a img{display: inline-block; vertical-align: bottom; margin-right:  8px;}

.g_gallery li:hover a{color:  rgb(189, 0, 0);}

.main_visual{margin: 0 auto; width: 1164px; height: 580px; position: relative;}

.move{}

.move .slick-slide{width: 100%; height: 536px;}

.move .slick-dots{ position: absolute; left: 50%; bottom: 0; transform: translateX(-50%);  bottom: -40px;}

.move .slick-dots li{display: inline-block; margin: 0 10px;}

.move .slick-dots li button{display: block; width: 12px; height: 12px; 
                        background-image: url(../images/btn_rolling_b.png); text-indent: -9999px;
                        border: none; background-color: transparent; cursor: pointer;}

.move .slick-dots li.slick-active button{background-image: url(../images/btn_rolling_b_on.png);}

.main_visual .stop{display: block; width: 12px; height: 12px; background-color: transparent; 
            background-image: url(../images/btn_rolling_b_stop.png);
            border: none; position: absolute; text-indent: -9999px; bottom: 6px; left: calc(50% + 90px); cursor: pointer;}


#section{width: 1164px; margin: 0 auto; }
.main_visual .stop.on{background-image: url(../images/btn_rolling_b_play.png);}

.main1{display: flex; justify-content: space-between;margin: 30px 0;}

.photo_wrap{width: 574px; height: 346px; background-color: yellow;}

.photo{}

.photo .slick-slide{position: relative;}

.photo .slick-dots{position: absolute; right: 20px; bottom: 20px;}
.photo .slick-dots li{display: inline-block;margin-left: 10px;}
.photo .slick-dots li button{width: 10px; height: 10px;   background-color: #555; text-indent: -9999px;
        border: none; cursor: pointer;}
.photo .slick-dots li.slick-active button{background-color: rgb(197, 0, 0);}

.p_title{position: absolute; width: 574px; height: 140px; 
        background-color: rgba(255, 255, 255, 0.5); left: 0; bottom: 0;}
.p_title h3{margin: 30px 0 10px 20px; font-size: 13px;}
.p_title img{float: left;}
.p_title h2{margin: 0 20px 0 5px; float: left; margin: 10px;}
.line{width: 20px; height: 2px; background-color: rgb(202, 0, 0); margin: 0 0 15px 15px ;}







.banner_wrap{width: 280px; background-color: rgb(235, 235, 235); position: relative;}


.b_title{}
.b_title h3{margin: 30px 0 15px 20px;}
.b_title p{margin: 0px 0 0 20px; }

.banner{}
.banner .slick-slide{}
.banner .slick-dots{position: absolute; right: 10px; bottom: 0px;}
.banner .slick-dots li{display: inline-block; margin-left: 10px;}
.banner .slick-dots li button{width: 10px; height: 10px; border-radius: 50%;  background-color: #555; text-indent: -9999px;
                                border: none; cursor: pointer;}
.banner .slick-dots li.slick-active button{background-color: rgb(197, 0, 0);}

.b_play{width: 1px; height: 10px; border: none; 
        background: transparent url("../images/btn_rolling_s_play.png") no-repeat; text-indent: -9999px;
        position: absolute; right: 5px; bottom: 15px;}

.viewer_wrap{width: 280px;background-color: rgb(216, 216, 216); position: relative;}

.main2{display: flex; justify-content: space-between;}

.gallery{width: 574px; height: 346px; position: relative;}
.gallery .g_title{position: absolute; width: 100%; height: 50px; background-color: rgba(255, 255, 255, 0.5);
                left: 0; bottom: 0; display: flex; align-items: center;} 
.gallery .g_title h3{padding: 0 10px 0 20px; background: url(../images/bg_gallery_tit.png) no-repeat right center;}
.gallery .g_title h4{padding: 0 10px ;background: url(../images/bg_gallery_line.png) no-repeat right center;}
.gallery .g_title p{padding-left: 10px; color: rgb(192, 0, 0);font-weight: bold;}

.e_store{width: 574px; height: 346px;background-color: #e7e7e7;}

.e_store h2{padding: 30px 0 20px 20px; }
.e_store h2 span{display: inline-block;width: 10px; height: 24px;text-indent: -9999px;
        background: url(../images/gnb_e_nor_hov.png) no-repeat bottom; }



.store{text-align: center;  width: 500px; margin: 0 auto;}
.store .slick-slide{}
.store .slick-dots{text-align: center;}
.store .slick-dots li{display: inline-block; margin: 0 10px;}
.store .slick-dots li button{width: 10px; height: 10px; border-radius: 50%; background-color: #555; border: none; text-indent: -9999px;
                                cursor: pointer;}
.store .slick-dots li.slick-active button{background-color: rgb(177, 0, 0);}

.store h3{margin-top: 15px;}
.store p{font-size: 13px; margin-top: 3px;}
.store p.price{font-size: 16px; font-weight: bold; color: rgb(204, 0, 0);}

.main3{margin: 50px 0;}
.m_list{ display: flex; justify-content: space-between;}

.m_list li{width: 280px; text-align: center;}

.main3 h4{padding: 10px 0;}
.main3 p{width: 80%; margin: 0 auto; line-height: 1.5; font-size: 12px;}



.main4{position: relative;}

.notice{border-top: 1px solid gray; border-bottom: 1px solid gray;}

.notice .slick-slide{height: 60px;line-height: 60px;}
.notice .slick-arrow{position: absolute; right: 0;cursor: pointer; width: 11px; height: 10px; border: none;
                        text-indent: -9999px;}
.notice .slick-arrow.slick-prev{background: url(../images/btn_rolling_s_top.png) no-repeat; top: 10px;}
.notice .slick-arrow.slick-next{background: url(../images/btn_rolling_s_down.png) no-repeat; bottom: 10px;}
.notice li a{}

.notice h4{float: left; font-size: 14px; margin-right: 20px;}
.notice h4 span{color: rgb(192, 0, 0);}
.notice a p{float: left; width: 50%; font-size: 12px; text-wrap: nowrap; text-overflow: ellipsis; overflow: hidden;}
.notice .data{float: right; margin-right: 30px; font-size: 12px;}

.main4 .n_stop{ display: block; width: 10px; height: 10px; border: none;
                z-index: 100;position: absolute; right: 0; top: 50%;
                background: transparent url(../images/btn_rolling_s_stop.png) no-repeat;
                text-indent: -9999px; transform: translateY(-50%);}

.main4 .n_stop.on{background: transparent url(../images/btn_rolling_s_play.png);}


/* main5영역 */
.main5{margin: 50px 0;}

.link{display: flex; justify-content: space-between;}

.link li{width: 280px; height: 70px;}

.link_1{background:  url(../images/link2_bg01.png) no-repeat center left;}
.link_2{background:  url(../images/link2_bg02.png) no-repeat center left;}
.link_3{background:  url(../images/link2_bg03.png) no-repeat center left;}
.link_4{background:  url(../images/link2_bg04.png) no-repeat center left;}

.link a{display: block; padding-left: 80px;}
.link a h4{padding: 5px 0 7px;font-size: 15px;}
.link a p{font-size: 12px; line-height: 1.5;}







